nav {
    background-color: #E8AF15;
    padding: 4%;
    display: flex;
    align-items: center;
    border-bottom: solid 1px;
    font-family: "Roboto", sans-serif;
    justify-content: space-between;
}

/* Media Query Navbar */
@media (min-width: 769px) {
    nav {
        padding: 2%;
    }
}

.logo {
    height: 20px;
}

.button-nav {
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    margin-left: 10px;
}

.link-nav {
    color: black;
    margin-left: auto;
    margin-right: 5px;
}

.container-nav {
    background-color: #E8AF15;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid 1px;
    display: flex;
    font-family: "Spectral", serif;
    justify-content: space-between;
}

/* Media Query Container Nav */
@media (min-width: 769px) {
    .container-nav {
        padding-left: 130px;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
}


.container-nav h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Media Query Titolo */
@media (min-width: 769px) {
    .container-nav h1 {
        font-size: 100px;
    }
}

.container-nav p {
    font-size: medium;
    margin-bottom: 40px;
}

.container-nav a {
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
}

.m {
    display: block;
}

/* Media Query SVG */
@media (max-width: 768px) {

    .m {
        display: none;
    }
}

/* Media Query Link Navbar */
@media (max-width: 768px) {
    #link-desktop {
        display: none;
    }
}


/* TRENDING */

.article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

/* Media Query Articoli in griglia */

@media (max-width: 768px) {
    .article {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}


.trending {
    font-family: "Roboto", sans-serif;
    padding: 20px;
    border-bottom: solid 1px grey;
}

@media (min-width: 768px) {
    .trending {
        padding-top: 50px;
        padding-left: 130px;
        padding-right: 130px;
        padding-top: 50px;
    }
}

.trending-number {
    color: #d5d4d4;
    font-size: x-large;
    font-weight: 800;
}

.trending-title {
    display: flex;
    align-items: center;

}

.trending-title p {
    font-weight: 600;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: small;
}

.trending-article {
    display: flex;
    margin-top: 20px;
}

.trending-article-user {
    display: flex;
    align-items: center;
}

.trending-article-title {
    font-size: larger;
    font-weight: 700;
    margin-top: 10px;
}


.trending-article-user p {
    margin-left: 8px;
    font-weight: 700;
}

.trending-article-card {
    margin-left: 20px;
}

.trending-article-time {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: grey;
    align-items: center;
}

.trending-article-time p {
    margin-right: 5px;
}

/* Media Query Article Time */
@media (min-width: 768px) {
    .trending-article-time {
        justify-content: start;
    }
}

/* Media Query Article Star */
@media (max-width: 768px) {
    #star {
        display: none;
    }
}

.trending-article img {
    border-radius: 100%;
    height: 20px;
}

/* DISCOVER */
.container-discover {
    font-family: "Roboto", sans-serif;
    margin-top: 40px;
    margin-left: 20px;
}

#discover {
    order: 2;
}


@media (min-width: 768px) {
    #discover {
       width: 500px;
    }
}

.discover-title {
    font-weight: 700;
}

.container-discover-button {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.discover-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    border: solid 1px gray;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.discover-button:hover {
    background-color: gray;
    color: white;
}

@media (min-width: 768px) {
    #section-card {
        display: flex;
        padding-left: 130px;
        padding-right: 130px;
        align-items: flex-start;
    }
}

/* CARD */

.card-menu {
    font-family: "Roboto", sans-serif;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card-menu a {
    color: gray;
    margin-right: 30px;
}

.card-container {
    font-family: "Roboto", sans-serif;
    padding: 20px;
    order: 1;
    flex-grow: 1;
}



.card {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

@media (min-width: 768px) {
    .card {
       justify-content: space-between;
       margin-right: 70px;
    }
}

.card-user {
    display: flex;
    align-items: center;
}

.card-user p {
    font-weight: 700;
    margin-left: 8px;
}

.card-user img {
    border-radius: 100%;
    height: 30px;
}

.card-title {
    margin-top: 5px;
    font-size: large;
    font-weight: 700;
}

.card-img {
    width: 170px;
    margin-left: 10px;
}

.card-time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-time {
    display: flex;
    align-items: center;
    color: gray;
    margin-top: 8px;
}

.card-time p {
    margin-right: 5px;
    font-size: small;
}

.card-time-button {
    color: gray;
    background-color: #F3F3F3;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50px;
}