nav {
    background-color: #E8AF15;
    padding: 4%;
    display: flex;
    align-items: center;
    border-bottom: solid 1px;
}

.logo {
    height: 20px;
}

.button-nav {
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    margin-left: 10px;
}

.link-nav {
    color: black;
    margin-left: auto;
}

.container-nav {
    background-color: #E8AF15;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid 1px;
    display: flex;
}

.container-nav h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.container-nav p {
    font-size: medium;
    margin-bottom: 40px;
}

.container-nav a {
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
}

.m {
    display: block;
}

/* Media Query per schermi piccoli (mobile) */
@media (max-width: 768px) {

    /* Nascondi l'SVG quando la larghezza dello schermo è 768px o meno */
    .m {
        display: none;
        /* Nasconde l'SVG */
    }
}

/* Media Query Link Navbar */
@media (max-width: 768px) {
    #link-desktop {
        display: none;
    }
}


/* TRENDING */

.trending {
    padding: 20px;
    border-bottom: solid 1px grey;
}

.trending-number {
    color: grey;
    font-size: large;
    font-weight: 800;
}

.trending-title {
    display: flex;
    align-items: center;

}

.trending-title p {
    font-weight: 600;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: small;
}

.trending-article {
    display: flex;
    margin-top: 20px;
}

.trending-article-user {
    display: flex;
    align-items: center;
}

.trending-article-title {
    font-size: larger;
    font-weight: 700;
    margin-top: 10px;
}


.trending-article-user p {
    margin-left: 8px;
    font-weight: 700;
}

.trending-article-card {
    margin-left: 20px;
}

.trending-article-time {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: grey;
}


.trending-article img {
    border-radius: 100%;
    height: 20px;
}

/* TRENDING */
.container-discover {
    margin-top: 40px;
    margin-left: 20px;
}

.discover-title {
    font-weight: 700;
}

.container-discover-button {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.discover-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    border: solid 1px gray;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.discover-button:hover {
    background-color: gray;
    color: white;
}

/* CARD */

.card-menu {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card-menu a {
    color: gray;
    margin-right: 30px;
}

.card-container {
    padding: 20px;
}

.card {
    display: flex;
}

.card-user {
    display: flex;
    align-items: center;
}

.card-user p {
    font-weight: 700;
}

.card-user img {
    border-radius: 100%;
    height: 30px;
}

.card-title {
    margin-top: 5px;
    font-size: large;
    font-weight: 700;
}

.card-img {
    width: 170px;
}

.card-time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-time {
    display: flex;
    align-items: center;
    color: gray;
    margin-top: 8px;
}

.card-time p {
    margin-right: 5px;
    font-size: small;
}

.card-time-button {
    color: gray;
    background-color: #F3F3F3;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50px;
}